@{
    ViewData["Title"] = "SpareParts";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the spare parts database!</h1>
    <h1>

        <a asp-controller="SpareParts" asp-action="Index">Enter the Database</a>
    </h1>
    
</div>

